*{
    margin:0;
    padding:0;
    box-sizing:border-bpx;
}
.login{
    background-color:blueviolet;
    height:100vh;
}
.inp1{
    border:none;
    outline:none;
    border-bottom:1px solid grey;
    width:100%;
}
.row4{
    border-bottom:1px solid grey;
}
#signup{
    font-size:60px;
}
.fa-user{
    font-size:50px;
}